:root {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #ccc;
    z-index: 99;
}

li {
    background-color: red;
    /* list-style: upper-alpha; */
    /* list-style-image: url("../images/lion.jpg"); */
    list-style-type: upper-alpha;
    list-style-position: inside;
}

table,
th,
td {
    border: solid 1px;
}

table {
    border-collapse: collapse;
    caption-side: bottom;
}
.grand {
    height: 500px;
    width: 500px;
    background-color: rgb(20, 184, 165);
    position: relative;
}
.parent {
    height: 300px;
    width: 300px;
    background-color: #828282;
    /* position: relative; */
}
.child {
    height: 100px;
    width: 100px;
    background-color: rgb(33, 241, 82);
    position: absolute;
    top: 0;
    right: 0;
    /* left: 0; */
    /* bottom: 0; */
}
.child:nth-child(2) {
    top: 25px;
    right: 25px;
    background-color: aquamarine;
    z-index: 2;
}
.child:last-child {
    top: 50px;
    right: 50px;
    background-color: rgb(27, 167, 210);
    z-index: 1;
}
.stickyExplain {
    height: 70px;
    background-color: #b610b6;
    position: sticky;
    top: 0;
}

.overflowExplain {
    height: 300px;
    width: 300px;
    background-color: #12bc2f;
    overflow: auto;
    text-indent: 30px;
    line-height: 20px;
    word-spacing: 15px;
    letter-spacing: 5px;
}

.transformExplain {
    height: 150px;
    width: 150px;
    background-color: #e0c22d;
    transition: all 0.5s;
    margin: 50px auto;
}
.transformExplain:hover {
    /* transform: translate(20px, 20px); */
    /* transform: rotate(45deg); */
    /* transform: scale(1.5); */
    transform: skew(30deg);
}
.test {
    height: 150px;
    width: 150px;
    background-color: #ccc;
    transition: 2s all ease-in-out 3s;
}

.test:hover {
    height: 200px;
    width: 200px;
}

.card {
    width: 150px;
    height: 250px;
    position: relative;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
}
.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    inset: 0;
}

.front {
    background-color: #f00;
}
.back {
    background-color: #0f0;
    transform: rotateY(180deg);
}
.textShadowExplain {
    text-shadow: 5px 6px 8px #f00;
}
.boxShadowExplain {
    height: 100px;
    width: 100px;
    margin: 30px;
    background-color: burlywood;
    box-shadow: 12px 8px 14px 10px #00f;
}
